robotframework>=3.0.2
jason>=0.1.7
redis>=2.10.6
dbbot>=0.1


pytest
robotframework-seleniumlibrary
robotframework-selenium2library
robotframework-pabot

pytest_runner>=2.12.1
kitchen>=1.2.4
decorator>=3.3.2
pymongo>=3.5.1
paramiko>=2.3.0
Interactive>=1.0.1
mongo_connector>=2.5.1
pyodbc>=4.0.21
ConfigParser>=3.5.0